<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjunicom.scservice.dao.WorkOrderMapper">

    <resultMap id="workorderMap" type="com.bjunicom.scservice.pojo.WorkOrder">
        <id property="workOrderId" column="work_order_ID" />
        <result property="agentOa" column="agent_oa"/>
        <result property="wechatId" column="wechat_ID" />
        <result property="workOrderName" column="work_order_name"/>
        <result property="workOrderLessee" column="work_order_lessee" />
        <result property="workOrderPhone" column="work_order_phone" />
        <result property="workOrderProblem" column="work_order_problem"/>
        <result property="workOrderImage" column="work_order_image"/>
        <result property="workOrderStatus" column="work_order_status"/>
        <result property="workOrderStart" column="work_order_start"/>
        <result property="workOrderEnd" column="work_order_end"/>
        <result property="workOrderDelivery" column="work_order_delivery"/>
        <result property="workOrderBackup" column="work_order_backup"/>
    </resultMap>

    <insert id="insertWorkOrder" parameterType="com.bjunicom.scservice.pojo.WorkOrder">
        insert
        into work_order
        (wechat_ID,work_order_name,work_order_lessee,work_order_phone,work_order_problem,work_order_image,work_order_backup)
        values (#{wechatId},#{workOrderName},#{workOrderLessee},#{workOrderPhone},#{workOrderProblem},#{workOrderImage},#{workOrderBackup})
    </insert>

    <delete id="deleteWorkOrder" parameterType="integer">
        DELETE FROM
        work_order
        WHERE
        work_order_ID = #{workOrderId}
    </delete>

    <update id="modifyWorkOrder" parameterType="com.bjunicom.scservice.pojo.WorkOrder">
        update work_order
        set work_order_phone = #{workOrderPhone,jdbcType=VARCHAR},
            work_order_lessee = #{workOrderLessee,jdbcType=VARCHAR},
            work_order_problem = #{workOrderProblem,jdbcType=VARCHAR},
            work_order_image = #{workOrderImage,jdbcType=VARCHAR}
        where work_order_ID = #{workOrderId}
    </update>

    <update id="sendWorkOrder" parameterType="string">
        update work_order
        set agent_oa = #{agentOa},
            work_order_start = #{workOrderStart},
            work_order_status = "未处理"
        where work_order_ID = #{workOrderId}
    </update>

    <update id="deliverWorkOrder" parameterType="string">
        update work_order
        set agent_oa = #{agentOa},
            work_order_start = #{workOrderStart},
            work_order_delivery = #{workOrderStart},
            work_order_status = "转派"
        where work_order_ID = #{workOrderId}
    </update>

    <update id="endWorkOrder" parameterType="string">
        update work_order
        set
            work_order_end = #{workOrderEnd},
            work_order_status = "已处理"
        where work_order_ID = #{workOrderId}
    </update>

    <update id="imageStorage" parameterType="string">
        update work_order
        set
            work_order_image = #{image}
        where work_order_ID = #{workOrderId}
    </update>

    <select id="selectWorkOrder" resultType="java.util.Map">
        select *
        from work_order
    </select>

    <select id="selectById" parameterType="integer" resultType="com.bjunicom.scservice.pojo.WorkOrder">
        select *
        from work_order
        where work_order_ID = #{workOrderId}
    </select>

    <select id="selectAgentOA" parameterType="string" resultType="java.util.Map">
        select *
        from work_order
        where agent_oa = #{agentOa}
    </select>

    <select id="selectByName" parameterType="string" resultType="java.util.Map">
        select *
        from work_order
        where work_order_name LIKE #{workOrderName}
    </select>

    <select id="searchOrder" parameterType="string" resultType="java.util.Map">
        select *
        from work_order
        where agent_oa = #{agentOa} and work_order_status = #{workOrderStatus}
    </select>
</mapper>