<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scservice.mapper.WorkOrderMapper">

    <resultMap id="BaseResultMap" type="com.scservice.pojo.WorkOrder">
        <id  column="workOrderId" jdbcType="INTEGER" property="workOrderId"/>
        <result  column="agentId" jdbcType="VARCHAR" property="agentId"/>
        <result  column="workOrderUid" jdbcType="VARCHAR" property="workOrderUid"/>
        <result  column="wechatId" jdbcType="VARCHAR" property="wechatId"/>
        <result  column="workOrderName" jdbcType="VARCHAR" property="workOrderName"/>
        <result  column="workOrderLessee" jdbcType="VARCHAR" property="workOrderLessee"/>
        <result  column="workOrderPhone" jdbcType="VARCHAR" property="workOrderPhone"/>
        <result  column="workOrderProblem" jdbcType="VARCHAR" property="workOrderProblem"/>
        <result  column="workOrderImage" jdbcType="VARCHAR" property="workOrderImage"/>
        <result  column="workOrderStatus" jdbcType="VARCHAR" property="workOrderStatus"/>
        <result  column="workOrderStart" jdbcType="VARCHAR" property="workOrderStart"/>
        <result  column="workOrderEnd" jdbcType="VARCHAR" property="workOrderEnd"/>
        <result  column="workOrderDelivery" jdbcType="VARCHAR" property="workOrderDelivery"/>
        <result  column="workOrderBackup" jdbcType="VARCHAR" property="workOrderBackup"/>
    </resultMap>

    <insert id="insertWorkOrder" parameterType="com.scservice.pojo.WorkOrder">
        insert
        into work_order
        (wechatId,workOrderUid,workOrderName,workOrderLessee,workOrderPhone,workOrderProblem,workOrderImage,workOrderStatus,workOrderStart,workOrderBackup)
        values (#{wechatId,jdbcType=VARCHAR},#{workOrderUid,jdbcType=VARCHAR},#{workOrderName,jdbcType=VARCHAR},#{workOrderLessee,jdbcType=VARCHAR},#{workOrderPhone,jdbcType=VARCHAR},#{workOrderProblem,jdbcType=VARCHAR},#{workOrderImage,jdbcType=VARCHAR},#{workOrderStatus,jdbcType=VARCHAR},#{workOrderStart,jdbcType=VARCHAR},#{workOrderBackup,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteWorkOrder" parameterType="java.lang.Integer">
        DELETE FROM
        work_order
        WHERE
        workOrderId = #{workOrderId}
    </delete>

    <update id="modifyWorkOrder" parameterType="com.scservice.pojo.WorkOrder">
        update work_order
        <set>
        <if test="workOrderPhone != null">
        workOrderPhone = #{workOrderPhone,jdbcType=VARCHAR},
        </if>
        <if test="workOrderLessee != null">
            workOrderLessee = #{workOrderLessee,jdbcType=VARCHAR},
        </if>
        <if test="workOrderProblem != null">
        workOrderProblem = #{workOrderProblem,jdbcType=VARCHAR},
        </if>
        <if test="workOrderImage != null">
        workOrderImage = #{workOrderImage,jdbcType=VARCHAR}
        </if>
        </set>
        where workOrderId = #{workOrderId,jdbcType=INTEGER}
    </update>

    <update id="sendWorkOrder">
        update work_order
        set agentId = #{agentId,jdbcType=BIGINT},
            workOrderStart = #{workOrderStart,jdbcType=VARCHAR},
            workOrderStatus = #{workOrderStatus,jdbcType=VARCHAR}
        where workOrderId = #{workOrderId,jdbcType=INTEGER}
    </update>

    <update id="deliverWorkOrder" >
        update work_order
        set agentId = #{agentId,jdbcType=BIGINT},
            workOrderStatus = #{workOrderStatus,jdbcType=BIGINT}
        where workOrderId = #{workOrderId,jdbcType=INTEGER}
    </update>

    <update id="endWorkOrder" parameterType="java.lang.Long">
        update work_order
        set
            workOrderEnd = #{workOrderEnd},
            workOrderStatus = "已处理"
        where workOrderId = #{workOrderId}
    </update>

    <update id="imageStorage" parameterType="java.lang.Long">
        update work_order
        set
            workOrderImage = #{image}
        where workOrderId = #{workOrderId}
    </update>

    <select id="searchAllOrder" resultMap="BaseResultMap">
        select *
        from work_order
    </select>

    <select id="searchOrderById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from work_order
        where workOrderId = #{workOrderId}
    </select>
    <select id="searchOrderByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from work_order
        where workOrderPhone = #{workOrderPhone,jdbcType=VARCHAR}
    </select>
    <select id="searchOrderByUid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from work_order
        where workOrderUid = #{workOrderUid}
    </select>
    <select id="selectAgentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from work_order
        where agentId = #{agentId}
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from work_order
        where workOrderName LIKE #{workOrderName}
    </select>

    <select id="searchOrder" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from work_order
        where agentiD = #{agentId} and workOrderStatus = #{workOrderStatus}
    </select>

    <select id="selectTodoList"  resultMap="BaseResultMap">
        select *
        from work_order
        where  workOrderStatus = "未处理" or workOrderStatus = "转派"
    </select>
    <select id="selectDoList"  resultMap="BaseResultMap">
        select *
        from work_order
        where  workOrderStatus = "已处理"
    </select>
</mapper>